<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <gazebo>
        <plugin
            filename="gz_ros2_control-system"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
             <parameters>$(find robot_arm_model_moveit)/config/ros2_controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>